body { background: white }
span.nowrap { white-space: nowrap }
th.version {
  background: #7777aa;
  color: #ffffff;
  vertical-align: top;
  text-align: left;
}
th.doctable {
  background: #7777aa;
  color: #ffffff;
}
td.navbar {
  width: 125px;
  background: #ddddee;
  vertical-align: top;
  text-align: center;
}
td.hangspace {
  width: 24px;
}
.bargraph {
  background: #ddddee;
  border: 1px solid #7777aa;
}
.reason {
  background: #ddddee;
  color: #000000;
  text-align: center;
  border: solid 1px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.center { text-align: center }
img { border: 0 }
A:link { text-decoration: none }
A:visited { text-decoration: none }
A:hover { text-decoration: underline }
table.centered { margin-left: auto; margin-right: auto; }
.box { margin-left: auto; margin-right: auto; border: solid 1px }
