<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Conf>
    <Global>
	<entry name="Verbose" type="boolean" value="0"/>
	<entry name="Debug" type="int" value="0"/>
	<entry name="CaptureSource" type="boolean" value="0"/>
	<entry name="V4LDevice" type="string" value="/dev/video0"/>
	<entry name="VBIDevice" type="string" value="/dev/vbi0"/>
	<entry name="UseVBI" type="boolean" value="1"/>
	<entry name="Norm" type="string" value="secam"/>
	<entry name="Frequencies" type="string" value="russia"/>
	<entry name="NTSCCableMode" type="string" value="Nominal"/>
	<entry name="FineTuneOffset" type="long" value="0"/>
	<entry name="CheckForSignal" type="boolean" value="0"/>
	<entry name="OutputWidth" type="int" value="800"/>
	<entry name="InputWidth" type="int" value="720"/>
	<entry name="WideString" type="boolean" value="0"/>
	<entry name="ApplyLumaCorrection" type="boolean" value="1"/>
	<entry name="LumaCorrection" type="float" value="1.1"/>
	<entry name="ProcessPriority" type="int" value="-19"/>
	<entry name="ChannelTextFG" type="string" value="0xFFFFFF00"/>
	<entry name="OtherTextFG" type="string" value="0xFFF5DEB3"/>
	<entry name="CommandPipe" type="string" value="$HOME/.tvtime/tvtimefifo"/>
	<entry name="FullScreen" type="boolean" value="0"/>
	<entry name="PreferredDeinterlaceMethod" type="int" value="0"/>
	<entry name="Volume" type="int" value="70"/>
	<entry name="VolumeMute" type="int" value="0"/>
	<entry name="Hue" type="int" value="50"/>
	<entry name="Brightnes" type="int" value="50"/>
	<entry name="Contrast" type="int" value="50"/>
	<entry name="Colour" type="int" value="50"/>
	<entry name="HalfFramerate" type="boolean" value="0"/>
	<entry name="LastChannel" type="int" value="1"/>
    </Global>
    <Keybindings>
	<entry name="\0033" type="command" value="quit"/>
	<entry name="q" type="command" value="quit"/>
	<entry name="\0421" type="command" value="channel_up"/>
	<entry name="k" type="command" value="channel_up"/>
	<entry name="\0422" type="command" value="channel_down"/>
	<entry name="j" type="command" value="channel_down"/>
	<entry name="\0423" type="command" value="finetune_up"/>
	<entry name="l" type="command" value="finetune_up"/>
	<entry name="\0424" type="command" value="finetune_down"/>
	<entry name="h" type="command" value="finetune_down"/>
	<entry name="p" type="command" value="channel_prev"/>
	<entry name="]" type="command" value="freqlist_up"/>
	<entry name="[" type="command" value="freqlist_down"/>
	<entry name="c" type="command" value="luma_correction_toggle"/>
	<entry name="x" type="command" value="luma_up"/>
	<entry name="z" type="command" value="luma_down"/>
	<entry name="m" type="command" value="mixer_mute"/>
	<entry name="+" type="command" value="mixer_up"/>
	<entry name="-" type="command" value="mixer_down"/>
	<entry name="F1" type="command" value="hue_down"/>
	<entry name="F2" type="command" value="hue_up"/>
	<entry name="F3" type="command" value="bright_down"/>
	<entry name="F4" type="command" value="bright_up"/>
	<entry name="F5" type="command" value="cont_down"/>
	<entry name="F6" type="command" value="cont_up"/>
	<entry name="F7" type="command" value="colour_down"/>
	<entry name="F8" type="command" value="colour_up"/>
	<entry name="F11" type="command" value="show_bars"/>
	<entry name="F12" type="command" value="show_credits"/>
	<entry name="d" type="command" value="debug"/>
	<entry name="f" type="command" value="fullscreen"/>
	<entry name="i" type="command" value="tv_video"/>
	<entry name="a" type="command" value="aspect"/>
	<entry name="s" type="command" value="screenshot"/>
	<entry name="t" type="command" value="deinterlacingmode"/>
	<entry name="n" type="command" value="toggle_ntsc_cable_mode"/>
	<entry name="`" type="command" value="toggle_console"/>
	<entry name="w" type="command" value="toggle_cc"/>
	<entry name="r" type="command" value="skip_channel"/>
	<entry name="\0040" type="command" value="auto_adjust_pict"/>
	<entry name="=" type="command" value="toggle_half_framerate"/>
    </Keybindings>
    <Mousebindings>
	<entry name="button_1" type="command" value="display_info"/>
	<entry name="button_2" type="command" value="mixer_mute"/>
	<entry name="button_3" type="command" value="tv_video"/>
	<entry name="button_4" type="command" value="channel_up"/>
	<entry name="button_5" type="command" value="channel_down"/>
    </Mousebindings>
<!-- Channel names in Russian (UTF-8) -->
    <Channels country="Russia" region="Novosibirsk" name="Alex's channels table example">
	<Channel name="%D0%9E%D0%A0%DO%A2">
	    <entry name="channel" type="int" value="1"/>
	    <entry name="freq" type="long" value=""/>
	</Channel>
	<Channel name="%D0%A2%D0%92%D0%A1">
	    <entry name="channle" type="int" value="4"/>
	    <entry name="freq" type="long" value=""/>
	</Channel>
	<Channel name="%D0%A2%D0%92%00%33">
	    <entry name="channel" type="int" value="12"/>
	    <entry name="freq" type="long" value=""/>
	</Channel>
	<Channel name="%D0%9A%D1%83%D0%BB%D1%8C%D1%82%D1%83%D1%80%D0%B0">
	    <entry name="channel" type="int" value="7"/>
	    <entry name="freq" type="long" value=""/>
	</Channel>
	<Channel name="NTSC">
	    <entry name="channel" type="int" value="49"/>
	    <entry name="freq" type="long" value=""/>
	</Channel>
    </Channels>
</Conf>
