[Desktop Entry]
Comment=High quality video deinterlacer
Icon=tvtime-icon-hilighted.png
Exec=tvtime
Name=tvtime
Terminal=0
Type=Application
Categories=Application;AudioVideo;
