[Desktop Entry]
Comment=High quality video deinterlacer
Icon=tvtime-tvtime-icon-48x48.png
Exec=tvtime
Name=tvtime
Terminal=0
Type=Application
Categories=Application;AudioVideo;
